.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Set box sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Style for navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav ul li b {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

nav ul li a:hover {
  color: #f7b731;
}

/* Style for main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2{
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left: 50px;
}
.main3{
  display:grid;
  flex-direction: row;
  align-items:center;
  padding-left: 50px;
}


/* Style for footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 18px;
  font-weight: bold;
}

.pocket {
  border: 1px solid #ccc;
  width: 280px;
  height: 200px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.transfercard {
  border: 3px solid #ccc;
  width: 50%;
  height: 45vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown{
  width: 100%;
  height: 30%;
  padding: 20px;
  border: 1px solid #ccc;
}

.btn {
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success {
  color: #fff;
  background-color: #4caa5d;
  border-color: #4caa5d;
}
